html {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
button {
    font: inherit;
    font-weight: 600;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    background-color: linear-gradient(135deg,#363795 0%, #005C97 100%);
    background-image: linear-gradient(135deg,#363795 0%, #005C97 100%);
    position: absolute;
    z-index: 0;
}
/* Header */
.header-wrapper {
    position: absolute;
    z-index: 100;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}
.header-title {
    font-size: 32px;
    font-weight: 700;
    color: #ddd;
}
.header-button-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.header-button-wrapper > div > button, .texture-input-btn {
    padding: 16px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #50C878;
    transition: ease-in;
    color: #ddd;
    background-color: transparent;
}
.header-button-wrapper > div > button:hover, .texture-input-btn:hover {
    background-color: #50C878;
    color: #1F1C18;
}

/* Right UI */
.incoming-display, .score {
    white-space: nowrap;
    font-weight: bold;
    color: #ddd;
    position:  absolute;
    left: 100px;
    bottom: 100px;
    width: 400px;
}
.incoming-display {
    top: 300px;
}
.score {
    top: 250px;
}
/* Right UI CSS */
.instructions-label {
    white-space: nowrap;
    color: #ababab;
    padding: 10px;
    position: absolute;
    z-index: 100;
    right: 100px;
    top: 100px;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0;
        li {
            margin: 10px 0;

            &>strong {
                font-weight: bold;
                color: #ddd;
            }

            ul {
                margin-top: 5px;
                padding-left: 20px;

                li {
                    font-size: 0.95em;
                }
            }
        }
    }

    span {
        font-size: 1.1em;
    }
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 400; /* Specify a stack order in case you're using a different order for other elements */
    font-size: 52px;
    font-weight: 800;
    text-align: center;
    line-height: 100vh;
    cursor: pointer; /* Add a pointer on hover */
    color: white;
}

.texture-input {
    color: white;
    font-size: 0.95em;
    font-weight: 600;
    margin-bottom: 40px;
}
.texture-input input[type="file"] {
    display: none;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }
  
  .layer-remove {
    animation: fadeOut 0.5s forwards;
  }
  