html {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    background-color: linear-gradient(45deg,#8E0E00 0%, #1F1C18 100%);
    background-image: linear-gradient(45deg,#8E0E00 0%, #1F1C18 100%);
    position: absolute;
    z-index: 0;
}
/* Header */
.header-wrapper {
    position: absolute;
    z-index: 100;
    margin: 0px auto;
}
/* Right UI */
.incoming-display {
    white-space: nowrap;
    font-weight: bold;
    color: #ddd;
    position:  absolute;
    left: 100px;
    top: 100px;
    bottom: 100px;
}
/* Right UI CSS */
.instructions-label {
    white-space: nowrap;
    color: #ababab;
    padding: 10px;
    position: absolute;
    z-index: 100;
    right: 100px;
    top: 100px;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0;
        
        li {
            margin: 10px 0;

            &>strong {
                font-weight: bold;
                color: #ddd;
            }

            ul {
                margin-top: 5px;
                padding-left: 20px;

                li {
                    font-size: 0.95em;
                }
            }
        }
    }

    span {
        font-size: 1.1em;
    }
}

